@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar for sleek UI */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #3498db; /* slate-300 */
  border-radius: 20px;
  border: 3px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e74c3c; /* red accent */
}
